@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.map {
	background-image: url("/images/game_background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1209px;
}
