<div id="lobby-index" class="relative flex items-center w-full h-screen mx-auto max-w-screen-2xl">
  <div class="w-2/3 mx-auto h-fit">
    <h1 class="text-4xl font-bold">Lobby</h1>

    <.simple_form for={@form} action={~p"/movement"} method="get">
      <.input field={@form[:name]} type="text" label="Name" required />

      <:actions>
        <.button>Join</.button>
      </:actions>
    </.simple_form>
  </div>
</div>
