<div id="cursor-index" phx-hook="cursorMove">
  <div class="grid gap-4 sm:grid-cols-3">
    <span class="bg-green-400 sm:flex-col sm:col-span-2">
      <ul id="cursors" class="list-none">
        <%= for player <- @players do %>
          <li
            style={"color: #{player.color}; left: #{player[:x]}%; top: #{player[:y]}%"}
            class="absolute flex flex-col"
          >
            <.icon name="hero-cursor-arrow-ripple" class="w-5 h-5" />
            <span
              style={"background-color: #{player.color};"}
              class="px-2 ml-4 text-sm text-white rounded-full"
            >
              <%= player.name %>
            </span>
          </li>
        <% end %>
      </ul>
    </span>

    <section class="bg-red-400 sm:flex-col">
      <h4 class="font-bold">Players</h4>
      <ul class="pl-4 ml-4 list-disc">
        <li :for={player <- @players} style={"color: #{player.color}";}>
          <%= player.name %>
        </li>
      </ul>
    </section>
  </div>
</div>
